.github
.git
cmake
documentation
ext
icons
log
m4
navmeshes
res
scripts
sql
src
tools
.clang-format
.clang-tidy
.dockerignore
.drone.yml
.editorconfig
.gitattributes
.gitignore
.luacheckrc
AGPL3
CMakeLists.txt
CMakeSettings.json
compress.dat
configure.ac
decompress.dat
Dockerfile
GPL3
LICENSE
Makefile.am
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
compile_commands.json
